<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.exam.dao.mapper.zj.ZjClassInfoMapper">
    <select id="queryPage" resultType="cn.exam.domain.zj.ZjClassInfo">
        select class_id classId,class_name className
        from zj_class_info
    </select>
</mapper>
