<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.exam.dao.mapper.zj.ZjMenuInfoMapper">
    <select id="queryPage" resultType="cn.exam.domain.zj.ZjMenuInfo">
     SELECT  menu_id menuId,menu_name menuName,menu_index menuIndex,menu_degree menuDegree,parent_id parentId
        FROM zj_menu_info
        WHERE menu_status=1
    </select>

    <select id="queryMenuIdListByRoleId" resultType="java.lang.Integer">
     SELECT b.menu_id menuId
     FROM zj_menu_info a LEFT JOIN zj_role_menu b
         ON a.`menu_id` =b.menu_id AND b.role_id=#{roleId} AND a.menu_degree=1
    </select>
</mapper>
