<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.exam.dao.mapper.zj.ZjUserInfoMapper">
    <sql id="baseCondition">
        <where>
            <if test="keyWords!=null and keyWords!=''">
                (a.user_id like concat('%',#{keyWords},'%')
                or a.user_name like concat('%',#{keyWords},'%')
                or b.class_name like concat('%',#{keyWords},'%')
                )
            </if>
        </where>
    </sql>

    <select id="queryShiroUserInfoByUserName" resultType="cn.exam.vo.UserVO">
        select  user_id userId,password,user_name userName
        from zj_user_info
        where user_id =#{userId} and is_delete=0
    </select>

    <select id="queryPage" resultType="cn.exam.vo.UserPageVO">
        select  a.user_id userId, a.password, a.user_name userName, a.role_id roleId,
                a.is_delete isDelete, b.class_name className, a.create_time createTime
        from zj_user_info a left join zj_class_info b on a.class_id = b.class_id
        <include refid="baseCondition"></include>
    </select>

    <select id="queryListByClassId" resultType="cn.exam.domain.zj.ZjUserInfo">
        select  user_id userId,user_name userName
        from zj_user_info
        where class_id =#{classId} and is_delete=0
    </select>

</mapper>